@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Architects+Daughter);

body, html {
    font-family: 'Open Sans';
    color: #757575;
    font-size: 18px;
    width: 100%;
    margin-top: 25px;
}

h1 {
    font-size: 50px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato';
    font-weight: 700;
}

h2 {
    margin-bottom: 40px;
}

p {
    margin-top: 20px;
    margin-bottom: 20px;
}

header {
    border-bottom: 1px solid #cccccc;
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
    background: white;
    padding: 15px;
}

.container {
    max-width: 1000px;
}

.logo {
    font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
    font-weight: 400;
    font-variant: small-caps;
}

section {
    padding: 80px 0 100px 0;
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background: #eee;
    color: #999;
}
    #preloader-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

#slogan {
    background: url(http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/concrete_seamless.png);
}

#menu div {
    padding: 5px 0;
}

#menu-top .dropdown .list-group {
    border: 1px solid #ddd;
    display: none;
    position: absolute;
    z-index: 999;
    left: 0;
    min-width: 150px;
}
#menu-top .dropdown .list-group .list-group-item {
    color: #18bc9c;
}
#menu-top .dropdown .list-group .list-group-item:hover {
    text-decoration: underline;
    background: #eee;
}
#menu-top .dropdown:hover .list-group {
    display: block;
    margin-top: 0;
}

footer {
    background: #666666;
    color: #cccccc;
}